:root {
    color-scheme: light dark;

    --spacing-small: 0.4rem;
    --spacing-medium: 1.6rem;
    --spacing-large: 3.2rem;

    --border-radius-small: 8px;
    --border-radius-medium: 16px;
    --border-radius-large: 32px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    user-select: none;
}

svg {
    width: 2rem;
    height: 2rem;
}
