:root {
    color-scheme: light dark;

    /* Color palette for the UI */
    --color-success: green;
    --color-error: red;
    --color-warning: orange;
    --color-info: blue;
    /* Elegant mocha, Deep cocoa black */
    --color-primary: light-dark(#a1887f, #3e2723);
    /* Refined beige, Hot chocolate */
    --color-secondary: light-dark(#d7ccc8, #6d4c41);

    /*
    Define spacing sizes for margins, paddings, and gaps.
    Use these to ensure consistent spacing throughout the UI.
     */
    --spacing-small: 0.4rem;
    --spacing-medium: 1.6rem;
    --spacing-large: 3.2rem;

    /*
    Define border-radius sizes for rounded corners.
    Use these to maintain a cohesive design for buttons, cards, and other UI elements.
     */
    --border-radius-small: 8px;
    --border-radius-medium: 16px;
    --border-radius-large: 32px;

    /*
    Product card sizes for different screen widths.
    Use these to ensure cards are responsive and maintain a consistent size across the UI.
     */
    --card-size: clamp(175px, 30vw, 350px);

    /*
    Define button styles for consistent appearance across the UI.
    Use these variables to maintain a cohesive design for buttons.
     */
    --button-background: var(--color-primary);
    --button-padding: var(--spacing-small);
    --button-font-size: 1rem;
    --button-border-radius: var(--border-radius-small);
    --button-hover-brightness: 1.25;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    user-select: none;
}

a,
svg {
    color: light-dark(#000, #fff);
}

button {
    padding: var(--spacing-small);
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}

input {
    background: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: var(--spacing-small);
    flex: 1;
}

svg {
    width: 2rem;
    height: 2rem;
}

/* Pseudo-classes */

a:hover,
a:hover svg {
    color: light-dark(#333, #ccc);
    filter: drop-shadow(0 0 20px light-dark(#999, #777));
}

button:hover {
    background-color: var(--color-secondary);
}
