---
import '../styles/global.css'

import Main from '../layouts/Main.astro'
---

<Main title="Authentication">
    <div class="authentication-container">
        <section>
            <h2>Login</h2>
            <form action="#" id="login-form">
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <span>
                    <input type="checkbox" name="admin" id="admin" />
                    <label for="admin">Log in as an admin?</label>
                </span>
                <button type="submit">Login</button>
            </form>
        </section>
    </div>
</Main>

<style>
    section {
        background-color: light-dark(rgb(0 0 0 / 0.2), rgb(255 255 255 / 0.1));
        border-radius: var(--border-radius-large);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
        padding: var(--spacing-medium);
        width: clamp(350px, 50%, 500px);
    }

    .authentication-container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: inherit;
    }
</style>

<script type="module" is:inline>
    if (document.cookie.includes('loggedIn=true')) {
        console.log('User is logged in, redirecting to dashboard...')
        window.location.href = 'profile.html'
    } else {
        console.log('User is not logged in')
    }

    document
        .getElementById('login-form')
        .addEventListener('submit', function (event) {
            event.preventDefault()

            const email = this.email.value
            const password = this.password.value
            const isAdmin = this.admin.checked

            if (email && password) {
                console.log('User logged in successfully')
                document.cookie = 'loggedIn=true; path=/'

                if (isAdmin) {
                    console.log('User is an admin')
                    document.cookie = 'isAdmin=true; path=/'
                } else {
                    console.log('User is not an admin')
                    document.cookie = 'isAdmin=false; path=/'
                }

                window.location.reload()
            } else {
                console.log('Invalid login credentials')
            }
        })
</script>
