---
import Main from '../layouts/Main.astro'
---

<Main title="Your Cart">
    <h1>Your Cart</h1>
    <p>Your cart is currently empty.</p>
    <p>Start shopping to add items to your cart!</p>
    <a href="index.html">Go to Shop</a>
</Main>

<style>
    a {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: bold;
    }
</style>
