---
import '../styles/global.css'
import Main from '../layouts/Main.astro'
import NewProduct from '../components/NewProduct.astro'
import ProductCard from '../components/ProductCard.astro'
import SearchBar from '../components/SearchBar.astro'
import products from '../assets/products.json'

import { SITE_NAME } from '../config.js'
---

<Main title=`Welcome to ${SITE_NAME}!`>
    <div id="search-product">
        <SearchBar placeholder="Search for products..." />
    </div>
    <section id="product-list">
        <div id="admin-add-product" style="display: none;">
            <NewProduct />
        </div>
        {
            products.map((product) => (
                <ProductCard
                    product_id={product.product_id}
                    product_name={product.product_name}
                />
            ))
        }
    </section>
</Main>

<style>
    #search-product {
        display: flex;
        justify-content: center;
        width: clamp(320px, var(--card-size), 100svw);
    }

    #product-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);
        justify-content: center;
        width: 80%;
    }

    @media screen and (width<=850px) {
        #product-list {
            gap: var(--spacing-small);
            height: 100%;
            width: 100%;
        }
    }
</style>

<script type="module" is:inline>
    function showAddProduct() {
        if (
            document.cookie.includes('loggedIn=true') &&
            document.cookie.includes('isAdmin=true')
        ) {
            document.getElementById('admin-add-product').style.display = 'flex'
        }
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', showAddProduct)
    } else {
        showAddProduct()
    }
</script>
