---
import products from '../assets/products.json';
import ProductCard from '../components/ProductCard.astro';
import Main from '../layouts/Main.astro';
---
<Main title="Welcome to ChocoMax!">
    <header>
        <h1>Welcome to ChocoMax!</h1>
        <p>Your one-stop shop for all things chocolate.</p>
        <p>Explore our wide range of chocolate products and find your favorite!</p>
    </header>

    <section id="product-list">
        {products.map(product => (
        <ProductCard 
            product_id={product.product_id} 
            product_name={product.product_name} 
        />
        ))}
    </section>
</Main>

<style>
    #product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
</style>
