---
import products from '../assets/products.json';
import ProductCard from '../components/ProductCard.astro';
import Main from '../layouts/Main.astro';
---
<Main title="Welcome to ChocoMax!">
  {products.map(product => (
    <ProductCard 
      product_id={product.product_id} 
      product_name={product.product_name} 
    />
  ))}
</Main>
