---
import '../styles/global.css';
import Main from '../layouts/Main.astro';
import ProductCard from '../components/ProductCard.astro';
import SearchBar from "../components/SearchBar.astro";
import products from '../assets/products.json';

import { SITE_NAME } from '../config.js';
---
<Main title=`Welcome to ${SITE_NAME}!`>
    <div id="search-product">
        <SearchBar placeholder="Search for products..." />
    </div>
    <section id="product-list">
        {products.map(product => (
        <ProductCard
            product_id={product.product_id}
            product_name={product.product_name}
        />
        ))}
    </section>
</Main>

<style>
    #search-product {
        display: flex;
        justify-content: center;
        width: var(--card-size-wide);
    }

    #product-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);
        justify-content: center;
        width: 80%;
    }

    @media screen and (width<=850px) {
        #product-list {
            gap: var(--spacing-small);
            width: 100%;
        }
    }
</style>
