---
import Main from '../layouts/Main.astro'

import { SITE_NAME } from '../config.js'
---

<Main title="Privacy Policy">
    <h1>Privacy Policy</h1>
    <p>
        At {SITE_NAME}, we value your privacy. This Privacy Policy outlines how we collect, use, and
        protect your information.
    </p>

    <h2>Information We Collect</h2>
    <p>
        We may collect personal information such as your name, email address, and payment
        information when you make a purchase or sign up for our newsletter.
    </p>

    <h2>How We Use Your Information</h2>
    <p>
        Your information may be used to process transactions, send you updates about your order, and
        improve our services.
    </p>

    <h2>Data Protection</h2>
    <p>
        We implement various security measures to protect your personal information from
        unauthorized access or disclosure.
    </p>

    <h2>Your Rights</h2>
    <p>
        You have the right to access, correct, or delete your personal information at any time. If
        you have any questions or concerns about our privacy practices, please contact us.
    </p>
</Main>
