---
import '../styles/global.css';

const { title } = Astro.props;

const baseYear = 2024;
const currentYear = new Date().getFullYear();
const yearString = currentYear === baseYear ? baseYear.toString() : `${baseYear}-${currentYear}`;
---

<footer>
    <span>{ title } &copy; {yearString}</span>
    <span>All rights reserved</span>
</footer>

<style>
    footer {
        align-self: center;
        display: flex;
        gap: var(--spacing-small);
    }

    @media screen and (width<=850px) {
        footer {
            flex-direction: column;
            font-size: 1rem;
            gap: 0;
            text-align: center;
        }
    }
</style>
