---
import '../styles/global.css'
import Icon from '../components/Icon.astro'

import { SITE_NAME } from '../config.js'

const baseYear = 2025
const currentYear = new Date().getFullYear()
const yearString = currentYear === baseYear ? baseYear.toString() : `${baseYear}-${currentYear}`
---

<footer>
    <div>
        <span>{SITE_NAME} &copy; {yearString}</span>
        <span>Licensed under the MIT License</span>
    </div>
    <ul>
        <li>
            <a href="about.html" title="About">
                <Icon icon="info" />
            </a>
        </li>
        <li>
            <a href="contact.html" title="Contact us">
                <Icon icon="mail" />
            </a>
        </li>
        <li>
            <a href="https://github.com/TheChocoMax" target="_blank" title="GitHub">
                <Icon icon="github" />
            </a>
        </li>
    </ul>
</footer>

<style>
    footer {
        flex-direction: column;
    }

    footer > div {
        display: flex;
        gap: var(--spacing-small);
        text-align: center;
    }

    footer > ul {
        display: flex;
        gap: var(--spacing-medium);
        justify-content: center;
    }

    @media screen and (width<=850px) {
        footer > div {
            flex-direction: column;
            font-size: 1rem;
            gap: 0;
        }
    }
</style>
