---
const { title } = Astro.props;
---

<header>
    <h1>Welcome to {title}!</h1>
    <p>Your one-stop shop for all things chocolate.</p>
    <p>Explore our wide range of chocolate products and find your favorite!</p>
</header>
