---
import '../styles/global.css'
import Icon from '../components/Icon.astro'

const { title } = Astro.props
---

<header>
    <a href="index.html" title="Home">
        <Icon icon="home" />
        <h1>{title}</h1>
    </a>
    <nav>
        <ul>
            <li id="admin-link" style="display: none;">
                <a href="admin.html" title="Admin Panel">
                    <Icon icon="admin" />
                </a>
            </li>
            <li><a href="about.html" title="About"><Icon icon="info" /></a></li>
            <li>
                <a href="contact.html" title="Contact us">
                    <Icon icon="mail" />
                </a>
            </li>
            <li>
                <a href="cart.html" title="Your cart">
                    <Icon icon="shopping-cart" />
                    <span id="item-count"></span>
                </a>
                <li>
                    <a href="authentication.html" title="Account">
                        <Icon icon="user" />
                    </a>
                </li>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        background: linear-gradient(
            0deg,
            transparent 0%,
            light-dark(rgb(255 255 255 / 75%), rgb(0 0 0 / 50%)) 100%
        );
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        width: 100%;
    }

    header > a {
        align-items: center;
        display: flex;
        gap: var(--spacing-small);
        text-decoration: none;
    }

    ul {
        display: flex;
        gap: var(--spacing-medium);
    }

    header > *:first-child,
    header > *:last-child {
        margin: 0 var(--spacing-medium);
    }

    #item-count {
        position: absolute;
    }

    @media screen and (width<=850px) {
        header {
            align-items: center;
            flex-direction: column;
            font-size: 0.75rem;
            gap: 0;
        }

        header > *:first-child,
        header > *:last-child {
            margin: 0;
        }
    }
</style>

<script type="module" is:inline>
    function showAdminLink() {
        if (
            document.cookie.includes('loggedIn=true') &&
            document.cookie.includes('isAdmin=true')
        ) {
            document.getElementById('admin-link').style.display = 'list-item'
        }
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', showAdminLink)
    } else {
        showAdminLink()
    }
</script>
