---
import '../styles/global.css';
import Icon from "../components/Icon.astro";

const { title } = Astro.props;
---

<header>
    <a href="index.html" title="Home">
        <Icon icon="home" />
        <h1>{title}</h1>
    </a>
    <nav>
        <ul>
            <li><a href="admin.html" title="Admin Panel"><Icon icon="admin" /></a></li>
            <li><a href="about.html" title="About"><Icon icon="info" /></a></li>
            <li><a href="contact.html" title="Contact us"><Icon icon="mail" /></a></li>
            <li><a href="cart.html" title="Your cart"><Icon icon="shopping-cart"></a></li>
            <li><a href="authentication.html" title="Account"><Icon icon="user" /></a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        background: linear-gradient(0deg, transparent 0%, light-dark(rgb(255 255 255 / 75%), rgb(0 0 0 / 50%)) 100%);
        display: flex;
        justify-content: space-between;
        white-space:nowrap;
        width: 100%;
    }

    header>a {
        align-items: center;
        display: flex;
        gap: var(--spacing-small);
        text-decoration: none;
    }

    ul {
        display: flex;
        gap: var(--spacing-medium);
        list-style: none;
    }

    header>*:first-child,
    header>*:last-child {
        margin: 0 var(--spacing-medium);
    }

    @media screen and (width<=850px) {
        header {
            align-items: center;
            flex-direction: column;
            gap: 0;
        }

        header>*:first-child,
        header>*:last-child {
            margin: 0;
        }
    }
</style>
