---
import '../styles/global.css';

const { title } = Astro.props;
---

<header>
    <h1>Welcome to {title}!</h1>
    <p>Your one-stop shop for all things chocolate.</p>
    <p>Explore our wide range of chocolate products and find your favorite!</p>
</header>

<style>
    header {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
        padding: var(--spacing-large);
    }
</style>
