---
import '../styles/global.css'

const { product_id } = Astro.props
const { product_name } = Astro.props
---

<Fragment>
    <div
        class="product-card"
        style=`background-image: url("product/${product_id}.png");`
    >
        <div class="product-card-content">
            <h1>{product_name}</h1>
            <div class="product-card-actions">
                <button>More info</button>
                <button>Add to cart</button>
            </div>
        </div>
    </div>
</Fragment>

<style>
    button {
        border: none;
        border-radius: var(--button-border-radius);
        cursor: pointer;
        font-size: var(--button-font-size);
        padding: var(--button-padding);
        width: 100%;
    }

    button:first-of-type {
        background-color: light-dark(#409eff, #3178c6);
    }

    button:last-of-type {
        background-color: light-dark(#41b883, #1f883d);
    }

    .product-card {
        background-size: cover;
        border-radius: var(--border-radius-small);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: end;
        min-width: var(--card-size);
        min-height: var(--card-size);
        position: relative;
        overflow: hidden;
    }

    .product-card-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .product-card > * {
        background-color: light-dark(rgb(255 255 255 / 0.5), rgb(0 0 0 / 0.5));
        border-radius: inherit;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }

    .product-card-content > h1 {
        padding: var(--spacing-small);
    }

    .product-card-actions {
        cursor: default;
        display: flex;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        width: 100%;
    }

    .product-card:hover .product-card-actions {
        max-height: calc(2rem + var(--spacing-small));
        opacity: 1;
        transition-delay: 0.05s;
    }

    /* Pseudo-classes */

    button:hover {
        filter: brightness(var(--button-hover-brightness));
    }

    @media screen and (width <= 850px) {
        button,
        h1 {
            font-size: 0.75rem;
        }
    }
</style>
