---
import '../styles/global.css';

const { product_id } = Astro.props;
const { product_name } = Astro.props;
---

<Fragment>
    <div class="product-card">
        <h1>Product #{product_id}</h1>
        <h2>{product_name}</h2>
    </div>
</Fragment>

<style>
    .product-card {
        align-items: center;
        border: 2px solid #888;
        border-radius: var(--border-radius-small);
        display: flex;
        flex-direction: column;
        padding: var(--spacing-small);
        min-width: 300px;
        min-height: 300px;
    }

    .product-card > * {
        text-align: center;
    }
</style>
